* {
  margin: 0;
  padding: 0;
}

@line-height: 25px;
@font-size: 17px;

div#react {

  font-size: @font-size;
  line-height: @line-height;

  div.app {

    div.view {

      opacity: 0;
      pointer-events: none;
      transition: opacity 0.35s ease-in-out;

      &.enabled {
        opacity: 1;
        pointer-events: auto;
      }

    }

    div.visualization {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }

    div.text {

      position: absolute;
      display: flex;
      justify-content: flex-start;
      flex-wrap: nowrap;

      top: @line-height * 2;
      left: 0;
      width: 100%;
      height: calc(100% - (@line-height * 2));

      & > div.column {

        display: inline-block;
        flex-grow: 1;
        overflow: hidden;

        textarea {
          display: block;
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          resize: none;
          background: transparent;
        }

      }

    }

    div.menu {
      padding: 0 @font-size * 0.5;
      line-height: @line-height * 2;
      & > * {
        margin-right: @font-size * 0.5;
      }
      input + label {
        margin-left: @font-size * 0.25;
      }
    }

  }

}
