* {
  margin: 0;
  padding: 0;
}

@line-height: 25px;
@font-size: 17px;

div#react {

  div.app {

    div.content {

      position: absolute;
      display: flex;
      justify-content: flex-start;
      flex-wrap: nowrap;

      top: @line-height;
      left: 0;
      width: 100%;
      height: calc(100% - @line-height);

      & > div.column {

        display: inline-block;
        flex-grow: 1;
        overflow: hidden;

        textarea {
          display: block;
          width: 100%;
          height: 100%;
          box-sizing: border-box;
          resize: none;
        }

      }

    }

  }

}
